body {
    padding: 0px;
    margin: 0px;
}

nav {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 4%;
    height: 80px;
    background-color: #1E3A8A;
}

nav .logo {
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}
nav .salir{
    float: right;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

nav .list {
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .list li {
    list-style: none;
}

nav .list a {
    display: block;
    text-transform: uppercase;
    padding: 15px 25px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    transition: all 300ms ease;
    padding: 15px 40px 15px 40px;
}

nav .list a:hover {
    background-color: #3B82F6;
}

#toogle {
    position: absolute;
    top: -100px;
}

nav .icon-bars {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

nav .icon-bars .line {
    width: 30px;
    height: 5px;
    background-color: white;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

@media (max-width: 768px) {
    nav .logo {
        float: none;
        width: auto;
        justify-content: center;
    }

    nav .list {
        float: none;
        position: fixed;
        z-index: 9;
        right: 100%;
        left: -100%;
        top: 70px;
        width: 60%;
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #2e547b;
        overflow: hidden;
        transition: all .5s ease-in-out;
    }

    nav .list a {
        font-size: 20px;
    }

    #toogle:checked ~ .list {
        left: 0;
    }
    nav .icon-bars{
        display: block;
    }
}
